---
import { AUTHOR_FULL_NAME } from "../consts";
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer
  class="px-4 pt-10 pb-16 bg-[var(--surface)] border-t border-[var(--border)] text-[rgb(var(--gray))] text-center flex flex-col items-center gap-4 transition-colors duration-200"
>
  <SocialLinks class="justify-center text-[rgb(var(--gray))]" />
  <p class="m-0 text-sm">
    &copy; {today.getFullYear()} {AUTHOR_FULL_NAME}. All rights reserved.
  </p>
</footer>
