---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="max-w-[760px] mx-auto px-4 py-12">
      <article class="text-[rgb(var(--gray-dark))]">
        <h1 class="text-4xl font-bold mb-1 text-[rgb(var(--black))]">{title}</h1>
        <hr class="my-4 mb-8 border-[var(--border)]" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
